click
datetime3
matplotlib
numpy
panda
PyYAML
random2
scipy
Sphinx
virtualenv
numba
tqdm
pyopengl
loguru
esper
sympy
tomlkit
pygame
torch
# pyspbla
# pyviennacl
# tomllib
# tensorflow
# tensorflow-metal

pyopencl
siphash24
